name: Deploy the backend

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Build the optimized build
        run: |
          cd node-api
          docker build -t audio-analyser:$GITHUB_SHA .
          docker run --name builder audio-analyser:$GITHUB_SHA echo 'Server build.'
          docker cp builder:/app/dist ./dist

      - name: Generate deployment package
        run: |
          cd node-api
          cd dist
          zip -r deploy.zip . -x '*.git*'

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v16
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: audio-analyser
          environment_name: Audioanalyser-env
          version_label: 6
          region: eu-central-1
          deployment_package: node-api/dist/deploy.zip
