name: Test and deploy the application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      # Build the production optimized build of backend api
      - name: Build the optimized build
        run: |
          cd node-api
          docker build -t audio-analyser-api:$GITHUB_SHA .
          docker run --name builder audio-analyser-api:$GITHUB_SHA echo 'Server built.'
          docker cp builder:/app/deploy ./deploy

      # Copies necessary nginx config
      - name: Copy aws nginx config
        if: github.ref == 'refs/heads/main'
        run: |
          cd node-api/config
          cp -r . ../deploy

      # Zips the deploy package
      - name: Generate deployment package
        if: github.ref == 'refs/heads/main'
        run: |
          cd node-api/deploy
          zip -r deploy.zip . -x '*.git*'

      # Deploys the package to AWS EB
      - name: Deploy to EB
        if: github.ref == 'refs/heads/main'
        uses: einaregilsson/beanstalk-deploy@v16
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: audio-analyser
          environment_name: Audioanalyser-env
          version_label: ${{ github.run_id }}
          region: ${{ secrets.AWS_REGION }}
          deployment_package: node-api/deploy/deploy.zip

  build-and-deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      # Build the production optimized build of frontend client
      - name: Build the optimized build
        run: |
          cd react-client
          docker build -t audio-analyser-client:$GITHUB_SHA .
          docker run --name builder audio-analyser-client:$GITHUB_SHA echo 'Frontend built.'
          docker cp builder:/app/build ./build

      - name: Set the stage for deployment
        run: |
          echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
          echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> $GITHUB_ENV

      - name: Upload build to S3
        run: |
          aws s3 cp ./react-client/build s3://${{secrets.AWS_CLIENT_BUCKET}}/ --recursive
          aws cloudfront create-invalidation --distribution-id ${{secrets.AWS_DISTRIBUTION_ID}} --paths /index.html
